<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="memberSQL">

 	<!-- 로그인  -->
 <select id="login" parameterType="java.util.Map" resultType="member">
 	select * from member where id=#{id} and pwd=#{pwd}
 </select>
 
 	<!-- 회원가입  -->
 <insert id="write" parameterType="member">
 	insert into member values(#{name},#{id},#{pwd},#{gender},#{email1},#{email2},#{tel1},#{tel2},#{tel3},#{zipcode},#{addr1},#{addr2},sysdate)
 </insert>
 
 	<!-- 회원정보 수정 -->
 <update id="modify" parameterType="member">
 	update member set name=#{name} ,pwd=#{pwd} ,gender=#{gender} ,email1=#{email1} ,email2=#{email2} ,tel1=#{tel1} ,tel2=#{tel2} ,tel3=#{tel3} ,zipcode=#{zipcode} ,addr1=#{addr1} ,addr2=#{addr2} ,logtime=sysdate where id=#{id}
 </update>
 
 	<!-- 전체데이터 조회 -->
 <select id="read" resultType="member">
 	select * from Member
 </select>
 
 	<!-- 주소조회 -->
 <select id="checkPostSearch" parameterType="java.util.Map" resultType="zipcode">
 	select * from newzipcode where sido like '%'|| #{sido} ||'%' 
 									and nvl(sigungu,'0') like '%'|| #{sigungu} ||'%' 
 									and roadname like '%'|| #{roadname} ||'%'
 </select>
 
 <select id="checkId" parameterType="String" resultType="member">
 	select * from member where id=#{id}
 </select>
 
 	<!-- 한사람의 정보 -->
 <select id="getMember" parameterType="String" resultType="member">
 	select * from member where id=#{id}
 </select>
 
 </mapper>